#cloud-config
package_update: true
package_upgrade: true

packages:
  - ca-certificates
  - curl
  - gnupg
  - lsb-release
  - unzip
  - openjdk-17-jdk

write_files:
  - path: /opt/azagent/install_agent.sh
    permissions: '0755'
    owner: root:root
    content: |
      #!/bin/bash
      set -e

      AZ_ORG_URL="https://dev.azure.com/anurag-devops/"
      AZ_PROJECT="devops-principles"
      AZ_ENV_NAME="java-env-vm-fe"
      AGENT_NAME="$(hostname)"
      AZ_PAT="${AZURE_DEVOPS_PAT}"

      mkdir -p /opt/azagent
      cd /opt/azagent

      curl -fkSL -o vstsagent.tar.gz https://download.agent.dev.azure.com/agent/4.266.2/vsts-agent-linux-x64-4.266.2.tar.gz
      tar -xzf vstsagent.tar.gz

      ./config.sh \
        --environment \
        --environmentname "$AZ_ENV_NAME" \
        --acceptteeeula \
        --agent "$AGENT_NAME" \
        --url "$AZ_ORG_URL" \
        --work _work \
        --projectname "$AZ_PROJECT" \
        --auth PAT \
        --token "$AZ_PAT" \
        --runasservice

      ./svc.sh install
      ./svc.sh start

  - path: /opt/tomcat/install_tomcat.sh
    permissions: '0755'
    owner: root:root
    content: |
      #!/bin/bash
      set -e

      TOMCAT_VERSION=9.0.87
      TOMCAT_USER=tomcat

      useradd -m -U -d /opt/tomcat -s /bin/false ${TOMCAT_USER} || true

      cd /tmp
      curl -O https://archive.apache.org/dist/tomcat/tomcat-9/v${TOMCAT_VERSION}/bin/apache-tomcat-${TOMCAT_VERSION}.tar.gz
      tar xzf apache-tomcat-${TOMCAT_VERSION}.tar.gz

      rm -rf /opt/tomcat/*
      mv apache-tomcat-${TOMCAT_VERSION}/* /opt/tomcat/

      chown -R ${TOMCAT_USER}:${TOMCAT_USER} /opt/tomcat
      chmod +x /opt/tomcat/bin/*.sh

      cat <<EOF >/etc/systemd/system/tomcat.service
      [Unit]
      Description=Apache Tomcat
      After=network.target

      [Service]
      Type=forking
      User=${TOMCAT_USER}
      Group=${TOMCAT_USER}
      Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
      Environment=CATALINA_PID=/opt/tomcat/temp/tomcat.pid
      Environment=CATALINA_HOME=/opt/tomcat
      Environment=CATALINA_BASE=/opt/tomcat
      ExecStart=/opt/tomcat/bin/startup.sh
      ExecStop=/opt/tomcat/bin/shutdown.sh
      Restart=on-failure

      [Install]
      WantedBy=multi-user.target
      EOF

      systemctl daemon-reexec
      systemctl daemon-reload
      systemctl enable tomcat
      systemctl start tomcat

runcmd:
  - export AZURE_DEVOPS_PAT="${AZURE_DEVOPS_PAT}"
  - bash /opt/tomcat/install_tomcat.sh
  - bash /opt/azagent/install_agent.sh
